footer {
    color: $white;

    .nav{
        .nav-item p {
            font-size: 0.8rem !important;
        }
    }
    .footer {
        .nav-item {
            @media (min-width: 992px) {
                &:nth-child(1) {
                    font-size: 12px;
                }
                &:nth-child(2) {
                    margin-left: -230px;
                }
            }
        }

        &-top,
        &-bottom {
            background-color: $indigo;
        }

        &-center {
            background-color: #818181;
            hr {
                border-color: $blue;
            }

            .nav-link {
                font-size: 16px;
            }
        }

        &-bottom {
            color: $white;
            font-size: 10px;
        }

        @media (max-width: 992px) {
            flex-direction: column-reverse;
        }
    }
}
