.forms {
    .form-group {
        display: flex;
        flex-flow: column-reverse;
        margin-bottom: 2em;
        transition: 0.3s all;

        label,
        .form-control {
            transition: all 0.2s;
            touch-action: manipulation;
            color: $indigo;
        }

        label {
            text-transform: uppercase;
            font-size: 8px;
            position: absolute;
        }

        textarea {
            height: 100% !important;
        }

        input[type="file"] {
            &::-webkit-file-upload-button {
                display: none;
            }
        }

        select {
            background: {
                image: url("/images/icons/play-arrow-blue.svg") !important;
                repeat: no-repeat !important;
                position: 100% !important;
            }

            font-size: 13px !important;
        }

        .form-control {
            -webkit-appearance: none;
            border: {
                radius: 0;
                color: transparent;
                bottom: 2px solid $indigo;
            }
            padding: 0;
            cursor: text;
            font-size: 16px;
            z-index: 1;
            background: none;
            position: relative;

            &:focus {
                border: {
                    color: transparent;
                    bottom: 3px solid $indigo;
                }
                outline: none;
                box-shadow: none;

                &:-webkit-input-placeholder {
                    opacity: 1;
                }
            }

            &:placeholder-shown + label {
                cursor: text;
                white-space: nowrap;
                transform-origin: left top;
                transform: translate(0, 2.125rem) scale(1.5);
                position: absolute;
                top: -25px;
            }

            &::-webkit-input-placeholder,
            &::-moz-input-placeholder,
            &::-o-input-placeholder,
            &::-ms-input-placeholder {
                opacity: 0;
                transition: inherit;
            }

            &:not(:placeholder-shown) + label,
            &:focus + label {
                transform: translate(0, 0) scale(1);
                cursor: pointer;
                color: $indigo;
                background: #fff;
                z-index: 2;
                font: {
                    size: 10px;
                    weight: 800;
                }
                text-align: center;
                position: absolute;
                top: -15px;
            }

            &.is-invalid {
                border-color: red !important;
                color: red;
                &:not(:placeholder-shown) + label,
                &:focus + label {
                    color: red;
                }

                &::-webkit-input-placeholder,
                &::-moz-input-placeholder,
                &::-o-input-placeholder,
                &::-ms-input-placeholder {
                    opacity: 1;
                    color: red;
                }
            }
        }
    }
}
