.header {
    &-primary {
        background-color: $indigo;
        z-index: 3;

        .container-fluid {
            padding: 0;
        }

        .nav-item {
            .nav-item {
                p {
                    color: $white;
                    font-weight: 600;
                    font-size: 12px;
                }
            }

            .whatsapp .nav-item {
                background-color: $green;

                &:nth-of-type(odd) {
                    background-color: $teal;

                    &:hover {
                        background-color: $green;
                    }
                }

                &:hover {
                    background-color: $teal;
                }
            }
        }
    }

    .navbar {
        .nav-item {
            font-size: 16px;

            .nav-link {
                color: $indigo;

                &.active,
                &:hover {
                    font-weight: 900;
                    color: $red;
                    cursor: pointer;
                }
            }
        }
    }

    #navbarDesktop {
        z-index: 2;
        background-color: $indigo;
        margin-top: -95px;

        .navbar-brand {
            right: 0;
            padding-top: 13px;
            padding-right: 16px;
        }
        hr {
            border-color: #818181;
            margin-top: 138px;
        }

        .navbar-nav {
            .nav-link {
                color: $white;
            }

            @media (min-width: 992px) {
                // width: 40%;
                flex-direction: initial;
                flex-flow: wrap;
                align-content: stretch;
                .nav-item {
                    width: 50%;
                    .nav-link {
                        font-size: 18px;
                        font-weight: 100;

                        strong {
                            font-weight: 900;
                        }
                    }
                }
            }

            @media (min-width: 1200px) {
                .nav-item {
                    width: 43%;
                }
            }

            @media (min-width: 1450px) {
                .nav-item {
                    width: 38%;
                }
            }
        }

        .right-0 {
            // height: 527px;
            margin-top: -155px;
            display: flex;
            justify-content: flex-end;
            background-color: #001e5024;

            .navbar-nav {
                margin-top: 155px;

                .nav-item {
                    color: $white;
                    p {
                        font-weight: 100;

                        strong {
                            font-weight: 900;
                        }
                    }
                }
            }
        }

        @media (min-width: 992px) {
            margin-top: -95px !important;

            hr {
                margin-top: 130px;
            }
        }
    }

    @media (min-width: 768px) {
        #navbarDesktop {
            margin-top: -108px;
            .navbar-brand {
                padding-top: 25px;
                padding-right: 46px;
            }
        }
    }

    @media (max-width: 417px) {
        &-primary {
            .whatsapp .nav-item .nav-link p {
                font-size: 2.6vw;
                width: 100%;
            }
        }
    }

    @media (max-width: 768px) {
        &-primary {
            .container-fluid {
                padding: 0;
            }
            .nav-item {
                width: 100%;
                .whatsapp {
                    flex-wrap: initial;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}
