.new {
    .header {
        @extend .transition;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .container {
            padding: {
                top: 29vw;
                bottom: 5vw;
            }
        }

        .title {
            @extend .transition;
            font: {
                size: 20px;
                weight: 100;
            }
            color: #fff;

            @media (max-width: 768px) {
                font-size: 4vw;
            }
        }

        .subtitle {
            font: {
                size: 60px;
                weight: 100;
            }
            color: #fff;
        }
    }

    h1 {
        @extend .transition;

        font-size: 30px;
        @media (max-width: 992px) {
            font-size: 3.7vw;
        }
    }

    .btn-primay{
        color: $red;
    }

    .fade {
        opacity: 1 !important;
    }

    .versions {
        h1 {
            color: $blue;
            font: {
                weight: 300;
                size: 40px;
            }

            span {
                font-weight: 700 !important;
            }
        }
    }

    .container-fluid {
        padding: 12em;
        padding-top: 0;
    }

    .bg {
        height: 22rem;
        width: 105%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        background-position: center;

        @media (max-width: 992px) {
            height: 25rem;
            width: 100%;
        }
    }

    h2 {
        @extend .transition;
        font: {
            size: 24px;
        }
        padding: 10px 0 10px 0px;
        color: $indigo;

        span {
            background-image: url("/images/icons/play-arrow.svg");
            background-repeat: no-repeat;
            position: absolute;
            right: 6%;
            height: 7px;
            width: 9px;
            margin-top: 13px;
        }
    }

    .display {
        transition: visibility 0s, opacity 0.5s linear;
        color: #000;
        font: {
            size: 14px !important;
        }
        p {
            color: #000;
            margin-bottom: 0;
        }

        @media (min-width: 992px) {
            visibility: hidden;
            opacity: 0;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            margin-top: -37px;
            font-size: 24px;
            color: #00b0f0;
        }
    }

    .navs-tabs {
        padding: 5em;
        padding-top: 3em;

        @media (max-width: 992px) {
            padding: 0;
        }

        .tab-pane {
            @extend .transition;

            color: #001e50;
            font-size: 30px;

            h2 {
                padding-bottom: 30px;
                font-weight: 700;
            }

            .title {
                font-size: 30px;
            }
        }

        .nav-pills {
            padding-top: 63px;
            padding-bottom: 63px;

            .nav-link {
                height: 69px;
                transition: height 1s;
                background-color: #fff;
                border-bottom: 1px solid #0000002b;

                .title {
                    font-size: 20px;
                }

                &.active {
                    height: 231px;
                    .display {
                        transition: visibility 2s, opacity 2s linear;
                        visibility: visible;
                        opacity: 1;
                    }

                    h2 {
                        font-weight: 700;
                    }

                    span {
                        display: none;
                    }
                }

                h2 {
                    padding: 10px;
                    padding-left: 0;
                }
            }
        }
    }

    .galery {
        padding-top: 5em;

        .primary {
            padding-right: 0;

            @media (max-width: 992px) {
                padding-right: 15px;
            }
        }

        &-img {
            height: 19rem;
            width: 100%;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
            background-position: center;
            display: block;

            @media (max-width: 992px) {
                height: 27rem;
            }
        }
    }

    .about-bottom {
        padding-top: 15em;
        padding-bottom: 3em;

        h2 {
            font: {
                size: 30px;
                weight: 700;
            }
        }

        .text-left {
            font-size: 24px;
        }

        .display {
            visibility: visible;
            opacity: 1;
        }
    }

    .versions {
        padding-top: 5em;
        padding-bottom: 5em;

        h1 {
            font-weight: 600;
            padding-bottom: 1em;
        }

        h2 {
            font: {
                size: 18px;
                weight: 700;
            }
        }

        .nav-pills {
            padding: 0;
            padding-bottom: 3em;

            .nav-item {
                background-color: transparent;
                margin: 0;

                .nav-link {
                    height: auto !important;
                    color: $blue;
                    background-color: transparent;
                    border-bottom: 2px solid #e5e5e5;
                    border-radius: 0;
                    text-align: center;

                    font: {
                        size: 16px;
                        weight: 700;
                    }

                    &.active, &:hover {
                        color: #818181;
                        border-color: $red;
                    }
                }
            }
        }

        .border-foto {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
        }

        .checkmark {
            list-style-image: url("/img/checkmark.svg");

            li {
                font: {
                    size: 14px;
                    weight: 400;
                }
                padding: 5px;
                color: #000;
            }
        }

        .cores {
            p {
                font: {
                    size: 14px;
                    weight: 700;
                }
                color: #001e50;
            }

            .nav-link {
                padding: 13px;
                border-radius: 100%;
                width: 10px;
                margin: 9px;
                margin-bottom: 0;

                @media (min-width: 992px) {
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }

            @media (max-width: 992px) {
                text-align: center;
                padding-top: 38px;

                .flex-column {
                    flex-direction: inherit !important;
                    display: flex;
                    justify-content: center;
                }
            }
        }

        .tab-content {
            .img-fluid {
                width: 100%;
            }
        }
    }

    .form {
        @media (min-width: 992px) {
            padding: 1em 7em 0;
            padding-bottom: 15em;
        }

        &-content {
            background-color: #f6f6f6;

            @media (min-width: 992px) {
                padding: 0 9em;
            }

            h2 {
                font: {
                    size: 30px;
                    weight: 600;
                }
                padding-bottom: 1em;
            }

            label {
                font: {
                    size: 16px;
                    weight: 700;
                }
                color: #001e50;
                padding: 20px 21px 24px 0;
            }

            input[type="checkbox"] {
                display: none;
            }

            .btn-group {
                button {
                    margin-top: -6px;
                    color: #6c747d;
                    font-weight: 500;
                    padding: 18px !important;
                    width: 84px;
                    border-radius: 0;
                    border-color: #ced4da !important;
                    font-size: 14px;

                    &.active,
                    &.focus {
                        background-color: #001e50 !important;
                        color: #fff;
                        &:focus {
                            box-shadow: none !important;
                            outline: none;
                        }
                    }
                }
            }

            .form-control,
            option {
                height: 60px;
                color: #001e50;
                padding-bottom: 0;
                border-radius: 3px;
                font-size: 16px;

                @media (min-width: 992px) {
                    width: 95%;
                    margin-bottom: 3rem;
                }

                &:focus {
                    border: 2px solid #001e50;
                    color: #001e50;
                    box-shadow: none !important;
                    outline: none;
                    font: {
                        // size: 30px;
                        weight: 700;
                    }
                    &:-moz-placeholder {
                        display: block;
                    }
                }

                &:after,
                &:before {
                    content: "";
                    color: #001e50 !important;
                }
            }

            select option {
                color: #001e50 !important;

                &:focus {
                    color: #001e50;
                    box-shadow: none !important;
                    outline: none;
                    font: {
                        // size: 30px;
                        weight: 700;
                    }
                    &:-moz-placeholder {
                        display: block;
                    }
                }

                &:after,
                &:before {
                    content: "";
                    color: #001e50 !important;
                }
            }

            .solicitar-cotacao {
                @media (min-width: 992px) {
                    width: 50%;
                }

                .btn-success {
                    font-size: 16px;
                    padding: 13px;
                    background: #449d44;
                    border-bottom: 2px solid #707070;
                    border-radius: 0;
                    width: 100%;
                }
            }
        }
    }

    .btn-height {
        height: 42px !important;
    }
}
