.offers {
    &-more {
        margin-top: -90px;
    }

    &-card {
        @extend .transition;
        text-decoration: none !important;

        .nav {
            z-index: 1;
            margin-bottom: -10px;

            .nav-item {
                background-color: $blue;
                color: $white;
                font: {
                    size: 12px;
                    weight: 500;
                }

                &:nth-of-type(odd) {
                    background-color: $red;
                }
            }
        }
        .card-body {
            background-color: #f5f5f5;
        }

        .card-footer {
            @extend .transition;

            border: none;
            background-color: transparent;
        }

        &:hover {
            .card-footer {
                padding: 0;
            }

            //.label-widget {
            // display: inline !important;
            // font-size: 0.7rem !important;
            //}

            // .label-category {
            //     display: none;
            // }
        }
    }

    @media (min-width: 992px) {
        h1 {
            font-size: 40px !important;
        }
        h5 {
            font-size: 20px;
        }
        .card-text {
            font-size: 14px;
            height: 51px;
        }
    }
}
