.useds {
    @extend .offers;

    .nav {
        position: absolute;
        right: -46px;
        transform: rotate(89deg);
        top: 51px;

        .nav-item {
            background-color: $blue !important;
        }
    }

    &:hover {
        .offers-card img {
            position: relative;
        }
    }
}
