// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "VWhead", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #333334;
$indigo: #333334;
$purple: #9561e2;
$pink: #f66d9b;
$red: #eb2c03;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #acacad;
$teal: #818181;
$cyan: #6cb2eb;
$white: #ffffff;

.text-title {
    color: $indigo !important;
}
.text-subtitle {
    color: $red !important;
}

.label-blue-light {
    background-color: $blue !important;
    color: $white !important;
}