// Fonts
@font-face {
    font-family: "VWhead";
    src: url("/fonts/VWHead-Regular.otf");
    src: url("/fonts/VWHead-Bold.otf") format("opnyype");
}
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "hamburgers/hamburgers.scss";

@import "header.scss";
@import "offers.scss";
@import "useds.scss";
@import "footer.scss";
@import "new.scss";
@import "form.scss";

* {
    margin: 0;
}
html,
body {
    background-color: $white;
    margin: 0;
}
.icons {
    flex-flow: initial !important;
    .nav-item {
        width: 44px !important;
    }
}

.more {
    .nav-item {
        font : {
            size: 12px;
            weight: 700;
        }
        color: $indigo;

        &:nth-child(2) {
            width: 80px;
        }

        hr {
            margin-top: 10px;
            border-top: 2px solid $blue;
        }
    }
}

.transition {
    transition: {
        duration: 0.2s;
        timing-function: ease-in;
        property: all;
    }

    -moz-transition: {
        duration: 0.2s;
        timing-function: ease-in;
        property: all;
    }

    -o-transition: {
        duration: 0.2s;
        timing-function: ease-in;
        property: all;
    }

    -ms-transition: {
        duration: 0.2s;
        timing-function: ease-in;
        property: all;
    }

    -webkit-transition: {
        duration: 0.2s;
        timing-function: ease-in;
        property: all;
    }
}
